<!DOCTYPE html>
<html>
	<head>
		<title>Create Article</title>
		
		<link rel="stylesheet" href="/stylesheets/css/style.css">
		<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src='/javascripts/editor.min.js'></script>


	</head>
	<body>
		
		<div class="background-wrapper">
			<aside class="block-editor-aside">
			</aside>
			<div class="editor-wrapper">
				<div class="block-editor-content">
					<section class="markdown-editor">
						<header class="floating-header">
							<small>Markdown</small> 
						</header>
						<form><textarea id="markdown-textarea" name="markdown-textarea">
						</textarea></form>
					</section>
					<section class="markdown-preview-container">
						<header class="floating-header">
							<small>Preview</small> 
						</header>
						<div class="markdown-preview">
							
						</div>
					</section>
				</div>
			</div>
		</div>	
	</body>
</html>
